@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Lora', Serif;
	font-size: 18px;
	margin: 0;
	background-color: rgb(100,100,100);
}
h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
	margin-left: 10px;
}
a {
	text-decoration: underline;
	font-size: 20px;
	color: black;
}
a:hover{
	font-weight: bold;
}
p{
	margin:0 10px;
	text-align: justify;
}
h2{
	font-weight: 10px;
	margin-bottom: 20px;
	text-align: center;
}
li {
	display: inline;
	padding: 10px;
}
.fab{
	font-size: 30px;
	color: black;
}